        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #000000;
            color: white;
            text-align: center;
            padding: 20px;
        }

        header img {
            max-width: 200px;
        }

        h1 {
            font-size: 36px;
            margin-top: 20px;
        }

        nav {
            background-color: #ffffff;
            text-align: center;
            padding: 10px;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav li {
            display: inline;
            margin: 0 20px;
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border: 1px solid #000000;
            border-radius: 5px;
        }

        h2 {
            font-size: 24px;
            color: #000000;
        }

        p {
            font-size: 16px;
        }

        footer {
            background-color: #000000;
            color: white;
            text-align: center;
            padding: 10px;
        }
   